html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("https://cdn02.plentymarkets.com/epz0zx1qug71/item/images/181476/full/Vliestapete-Putz-Vintage-anthrazit-metallic-Marbur.jpg");
    font-family: 'Prompt', sans-serif;
}

header {
    background: linear-gradient(0deg, #3b0404, black);
    height: 100vh;
    font-family: 'Lobster', cursive;
}

.index {
    margin-bottom: 18vh;
}

main {
    padding-top: 100px;
    position: relative;
}

.text-maroon {
    color: #3b0404;
}

.bg-maroon {
    background: linear-gradient(180deg, #3b0404, #222222);
}

.bg-info {
    background: linear-gradient(360deg, #333333, #5bc0de)
}

.project:hover {
    transform: scale(1.025);
}

.icon:hover {
    transform: scale(1.1);
}

.github {
    height: 47px;
    width: auto;
}

.linkedin {
    height: 50px;
    width: auto;
}
