body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/sayagata-400px.png");
    padding-top: 100px;
}

.smaller {
    width: 200px;
    height: auto;
}

.smaller:hover {
    transform: scale(1.1);
}